<span page-title ng-model="role">{{ 'Permissions for:' | translate }} {{ role.name }}</span>
<div alch-alert success-messages="successMessages" error-messages="errorMessages"></div>

<section class="nutupane-sub-section" >

  <div class="nutupane-bar">

    <div class="col-sm-3">
      <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Filter' | translate }}"
               ng-model="permissionFilter"/>
      </div>
    </div>

    <div class="fr select-action">
      <span class="nutupane-info">
        <span translate>{{ permissionsTable.numSelected }} Selected</span>
        <span>|</span>
        <a class="deselect-action"
           translate
           ng-class="{ 'disabled-link' : permissionsTable.numSelected == 0 }"
           ng-click="permissionsTable.selectAll(false)">
          Deselect All
        </a>
      </span>

      <button class="btn btn-default"
              ng-disabled="permissionsTable.numSelected == 0 || permissionsTable.working"
              ng-click="removePermissions()">
        {{ 'Remove Selected' | translate }}
      </button>
      <button class="btn btn-default"
              ui-sref="roles.details.permissions.new">
        {{ 'New Permission' | translate }}
      </button>

    </div>
  </div>

  <div alch-table="permissionsTable" class="nutupane">
    <div alch-container-scroll control-width="permissionsTable" alch-infinite-scroll="permissionsTable.nextPage()">

      <div class="loading-mask icon-3x" ng-show="permissionsTable.working && permissionsTable.rows.length == 0">
        <i class="icon-spinner icon-spin"></i>
        {{ "Loading..." | translate }}
      </div>

      <table ng-class="{'table-mask': permissionsTable.working}" class="table table-full table-striped">
        <thead>
          <tr alch-table-head row-select="permission">
            <th alch-table-column="quantity" sortable>{{ "Resource" | translate }}</th>
            <th alch-table-column="quantity" sortable>{{ "Search" | translate }}</th>
            <th alch-table-column="attached" sortable>{{ "Organizations" | translate }}</th>
            <th alch-table-column="attached" sortable>{{ "Locations" | translate }}</th>
            <th alch-table-column="attached" sortable>{{ "Permissions" | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr alch-table-row  ng-repeat="filter in role.filters" row-select="permission">
            <td alch-table-cell>
              <a ui-sref="roles.details.info({roleId: role.id})">
                {{ filter.permissions[0].resource_type }}
              </a>
            </td>
            <td alch-table-cell>
              {{ filter.search }}
            </td>
            <td alch-table-cell>
              {{ formatNameList(filter.organizations) }}
            </td>
            <td alch-table-cell>
              {{ formatNameList(filter.locations) }}
            </td>
            <td alch-table-cell>
              {{ formatPermissionsList(filter.permissions) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
