<span page-title ng-model="role">{{ 'New permission for Role for:' | translate }} {{ role.name }}</span>
<div>
  <div bst-alert success-messages="successMessages" error-messages="errorMessages"></div>

  <a ui-sref="roles.details.permissions.index({roleId: role.id})">
    <i class="icon-double-angle-left"></i>
    {{ "Back to Permissions List" | translate }}
  </a>
</div>

  <section>
    <h2>{{ 'New Permission' | translate }}</h2>

    <form name="permissionForm" class="form-horizontal" novalidate role="form">

      <div bst-form-group label="{{ 'Name' | translate }}">
        <input id="name"
               name="name"
               ng-model="permission.name"
               type="text"
               tabindex="1"
               autofocus
               required/>
      </div>
      <div bst-form-group label="{{ 'Resource Type' | translate }}">
        <select id="resource_type"
                name="resource_type"
                ng-model="permission.resource_type"
                ng-options="resourceType.id as resourceType.name for resourceType in resourceTypes"
                tabindex="2"
                autofocus
                required/>
      </div>

      <div ng-repeat="availablePermission in permissionTypes"
           ng-hide="permissionTypes.length < 1">
        <div bst-form-group label="{{ availablePermission | permissionName }}">
          <input type="checkbox"
                 name="permission.filters[]"
                 value="{{availablePermission.id}}"
                 ng-checked="permission.filters.indexOf(availablePermission.id) > -1"
                 ng-click="toggleSelection(availablePermission.id)"
                 tabindex="{{$index}}">
            <p class="help-block" translate>Help text for {{ availablePermission.name }}</p>
          </input>
        </div>
      </div>

      <div bst-form-buttons
           on-cancel="transitionTo('roles.details.permissions.index({roleId: role.id})')"
           on-save="save(permission)"
           working="working">
      </div>
    </form>
  </section>
