<section class="nutupane-sub-section">
  <div bst-alert success-messages="successMessages" error-messages="errorMessages"></div>

  <div class="row">

    <div class="col-sm-3">
      <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Filter' | translate }}"
               ng-model="locationFilter"/>
      </div>
    </div>

    <div class="fr select-action">
      <span class="nutupane-info">
        <span translate>{{ locationsTable.numSelected }} Selected</span>
        <span>|</span>
        <a class="deselect-action"
           translate
           ng-class="{ 'disabled-link' : locationsTable.numSelected == 0 }"
           ng-click="locationsTable.selectAll(false)">
          Deselect All
        </a>
      </span>

      <button ng-if="isState('roles.details.locations.list')"
              class="btn btn-default"
              ng-disabled="locationsTable.numSelected == 0 || locationsTable.working"
              ng-click="removeLocations()">
        {{ 'Remove Selected' | translate }}
      </button>
      <button ng-if="isState('roles.details.locations.add')"
              class="btn btn-default"
              ng-disabled="locationsTable.numSelected == 0 || locationsTable.working"
              ng-click="addLocations()">
        {{ 'Add Selected' | translate }}
      </button>

    </div>
  </div>

  <div bst-table="locationsTable" class="nutupane">
    <div bst-container-scroll control-width="locationsTable" bst-infinite-scroll="locationsTable.nextPage()">
      <div ng-show="locationsTable.rows.length == 0">
        <div class="loading-mask" ng-show="locationsTable.working">
          <i class="icon-spinner icon-spin"></i>
          {{ "Loading..." | translate }}
        </div>

        <p ng-hide="locationsTable.working" translate>No Location to show.</p>
      </div>

      <table ng-show="locationsTable.rows.length > 0"
             ng-class="{'table-mask': locationsTable.working}" class="table table-full table-striped">
        <thead>
          <tr bst-table-head row-select="location">
            <th bst-table-column="name" translate>Name</th>
          </tr>
        </thead>

        <tbody>
          <tr bst-table-row ng-repeat="location in locationsTable.rows | filter:locationFilter" row-select="location">
            <td bst-table-cell>
              <a href="../locations/{{location.id}}/edit"}}>
                {{ location.name }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
