<span page-title ng-model="role">{{ 'Permissions for:' | translate }} {{ role.name }}</span>
<div alch-alert success-messages="successMessages" error-messages="errorMessages"></div>

<section class="nutupane-sub-section" >

  <div class="nutupane-bar">

    <div class="col-sm-3">
      <div class="input-group input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Search...' | translate }}"
               ng-model="permissionsTable.searchTerm"
               on-enter="permissionsTable.search(permissionsTable.searchTerm)"/>
        <span class="input-group-btn">
          <button ng-click="permissionsTable.search(permissionsTable.searchTerm)" class="btn btn-default" type="button"><i class="icon-search"></i></button>
        </span>
      </div>
    </div>

    <div class="col-sm-3 nutupane-info">
      <span translate>Showing {{ permissionsTable.rows.length }} of {{ permissionsTable.resource.subtotal }} ({{ permissionsTable.resource.total }} Total) Roles</span>
    </div>

    <div class="pull-right">
      <div class="pull-left nutupane-info">
        <span translate>{{ permissionsTable.numSelected }} Selected</span>
        <span>|</span>
        <a class="deselect-action"
           translate
           ng-class="{ 'disabled-link' : permissionsTable.numSelected == 0 }"
           ng-click="permissionsTable.selectAll(false)">
          Deselect All
        </a>
      </div>

      <div ng-hide="role.readonly" class="nutupane-actions pull-right">
         <button class="btn btn-primary"
                 translate
                 ng-disabled="disableRemoveButton()"
                 ng-click="removeSelected()">
           Remove Selected
         </button>
      </div>
    </div>
  </div>

  <div alch-table="permissionsTable" class="nutupane">
    <div alch-container-scroll control-width="permissionsTable" alch-infinite-scroll="permissionsTable.nextPage()">

      <div class="loading-mask icon-3x" ng-show="permissionsTable.working && permissionsTable.rows.length == 0">
        <i class="icon-spinner icon-spin"></i>
        {{ "Loading..." | translate }}
      </div>

      <table ng-class="{'table-mask': permissionsTable.working}" class="table table-full table-striped">
        <thead>
          <tr alch-table-head row-select>
            <th alch-table-column="quantity" sortable>{{ "Resource" | translate }}</th>
            <th alch-table-column="attached" sortable>{{ "Permission" | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr alch-table-row  ng-repeat="filter in role.filters">
            <td alch-table-cell>
              <a ui-sref="roles.details.info({roleId: role.id})">
                {{ filter.permissions[0].resource_type }}
              </a>
            </td>
            <td alch-table-cell>{{ filter.search }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
