<table class="table table-striped" ng-class="{'table-mask': roleTable.working}">
  <thead>
    <tr bst-table-head row-select>
      <th bst-table-column="name" sortable>{{ "Name" | translate }}</th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row ng-repeat="role in roleTable.rows" row-select="role">
      <td bst-table-cell>
        <a ui-sref="roles.details.info({roleId: role.id})">
          {{ role.name }}
        </a>
        <i class="icon-chevron-right selected-icon" ng-show="role.selected"></i>
      </td>
    </tr>
  </tbody>
</table>
