<section class="nutupane-sub-section">
  <div bst-alert success-messages="successMessages" error-messages="errorMessages"></div>

  <div class="row">

    <div class="col-sm-3">
      <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="{{ 'Filter' | translate }}"
               ng-model="userGroupFilter"/>
      </div>
    </div>

    <div class="fr select-action">
      <span class="nutupane-info">
        <span translate>{{ userGroupsTable.numSelected }} Selected</span>
        <span>|</span>
        <a class="deselect-action"
           translate
           ng-class="{ 'disabled-link' : userGroupsTable.numSelected == 0 }"
           ng-click="userGroupsTable.selectAll(false)">
          Deselect All
        </a>
      </span>

      <button ng-if="isState('roles.details.user-groups.list')"
              class="btn btn-default"
              ng-disabled="userGroupsTable.numSelected == 0 || userGroupsTable.working"
              ng-click="removeUserGroups()">
        {{ 'Remove Selected' | translate }}
      </button>
      <button ng-if="isState('roles.details.user-groups.add')"
              class="btn btn-default"
              ng-disabled="userGroupsTable.numSelected == 0 || userGroupsTable.working"
              ng-click="addUserGroups()">
        {{ 'Add Selected' | translate }}
      </button>

    </div>
  </div>

  <div bst-table="userGroupsTable" class="nutupane">
    <div bst-container-scroll control-width="userGroupsTable" bst-infinite-scroll="userGroupsTable.nextPage()">

      <div ng-show="userGroupsTable.rows.length == 0">
        <div class="loading-mask" ng-show="userGroupsTable.working">
          <i class="icon-spinner icon-spin"></i>
          {{ "Loading..." | translate }}
        </div>

        <p ng-hide="userGroupsTable.working" translate>No User Groups to show.</p>
      </div>

      <table ng-show="userGroupsTable.rows.length > 0"
             ng-class="{'table-mask': userGroupsTable.working}" class="table table-full table-striped">
        <thead>
          <tr bst-table-head row-select="userGroup">
            <th bst-table-column="name" translate>Name</th>
            <th bst-table-column="description" translate>Description</th>
          </tr>
        </thead>

        <tbody>
          <tr bst-table-row ng-repeat="userGroup in userGroupsTable.rows | filter:userGroupFilter" row-select="userGroup">
            <td bst-table-cell>
              <a href={{"usergroups/" + userGroup.id + "/edit"}}>
                {{ userGroup.name }}
              </a>
            </td>
            <td bst-table-cell>{{ userGroup.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
