<span page-title ng-model="role">{{ 'Users for:' | translate }} {{ role.name }}</span>

<h4 translate>User Management</h4>
<nav>
  <ul class="nav nav-tabs">
    <li ng-class="{active: isState('roles.details.users.list')}">
      <a ui-sref="roles.details.users.list">
        <span translate>List/Remove</span>
      </a>
    </li>

    <li ng-class="{active: isState('roles.details.users.add')}">
      <a ui-sref="roles.details.users.add">
        <span translate>Add</span>
      </a>
    </li>
  </ul>
</nav>

<div ui-view></div>
