<span page-title ng-model="role">{{ 'Role information for:' | translate }} {{ role.name }}</span>
<div>
  <div bst-alert success-messages="successMessages" error-messages="errorMessages"></div>

  <a ui-sref="roles.details.permissions.index({roleId: role.id})">
    <i class="icon-double-angle-left"></i>
    {{ "Back to Permissions List" | translate }}
  </a>

  <div class="fr">
    <div bst-modal="removePermission(filter)" model="filter"
         modal-header='Remove Permission "{{filter.resource}}"?'
         modal-body='Are you sure you want to remove permission for "{{ filter.resource }}"?'></div>

      <button class="btn btn-default"
              ng-click="openModal()"
              ng-show="role.readonly">
        {{ "Remove Permission" | translate }}
      </button>
  </div>
</div>

<div class="details fl">
  <section>
    <h4>{{ 'Permission:' | translate }} {{ filter.resource_type }}</h4>

    <div class="detail">
      <span class="info-label" translate>Search</span>
      <span class="info-value"
            bst-edit-textarea="filter.search"
            on-save="save(filter)"
            readonly="role.readonly">
      </span>
    </div>
  </section>
</div>
